<h1>Workouts</h1>

<% if logged_in? %>
	<%= link_to 'New Workout', new_workout_path %>
<% end %>

<table>
	<% @workout.each do |workout| %>
		<tr>
			<th>Date:</th>
			<th><%= workout.wrkt_date %></th>
		</tr>
		<tr>
			<th><%= "Title:" if workout.title.present? %></th>
			<th><%= workout.title if workout.title.present? %></th>
		</tr>
		<tr>
			<th>Movements</th>
			<th>Sets</th>
			<th>Reps</th>
			<th>Weight</th>
			<th>Duration</th>
		</tr>

		<% workout.movements.each do |movement| %>
			<tr>
				<td align="center"><%= movement.movement %></td>
				<td align="center"><%= movement.set %></td>
				<td align="center"><%= movement.rep %></td>
				<td align="center"><%= movement.weight %></td>
				<td align="center"><%= movement.duration %></td>
			</tr>
		<% end %>
		<% if logged_in? %>
			<tr>
				<td><br> </td>
				<td><%= link_to'Edit', edit_workout_path(workout) %></td>
				<td><%= link_to'Destroy', workout_path(workout), method: :delete, data: {confirm: 'Are you sure?'} %></td>
				<td><br></td>
				<td><%= link_to 'Add My Workout', workouts_path %>
				<td><br> </td>
			</tr>
		<% end %>
	<% end %>
</table>
