<h1>A New Workout</h1>

<%= form_with scope: :workout, url: workouts_path, local: true do |form| %>
	<p>
		<%= form.date_field :wrkt_date %>
	</p>

	<p>
		<%= form.label :title %>
		<%= form.text_field :title %>
	</p>

	<p>
	<%= form.label :movement_number %>
	<%= form.text_field :movement_number %>

	<p>
	<%= form.submit %>
	</p>

<% end %>

<%= link_to 'Back', workouts_path %>
