<h1>A New Workout</h1>

<%= form_for :workout, url: user_workouts_path do |form| %>
	<p>
		<%= form.date_field :wrkt_date %>
	</p>

	<p>
		<%= form.label :title %>
		<%= form.text_field :title %>
	</p>

	<p>
	<%= form.submit %>
	</p>

<% end %>

<%= link_to 'Back', root_path %>
