<h1>A New Workout</h1>

<%= form_for([@user, @workout], :url => user_workouts_path(@user)) do |form| %>

<% if @workout.errors.any? %>

    <div id="error_explanation">

      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited
        this post from being saved:</h2>
      <ul>
        <% @workout.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

  <% end %>

	<p>
		<%= form.date_field :wrkt_date %>
	</p>

	<p>
		<%= form.label :title %>
		<%= form.text_field :title %>
	</p>

	<p>
	<%= form.submit %>
	</p>

<% end %>

<%= link_to 'Back', root_path %>
